
#title {
	color: red;
	text-align: center;
	font-size: 30px;
}

body {
	background-color: #666666;
}

div {
	background-color: white;
}

#tweetBox {
	width: 300px;
}

.tweet {
	color: blue;
	padding: 10px 5px;
	text-align: center;
}

.tweetAuthor {
	color: orange;
}

.tweetMessage {
	color: black;
	font-size: 32px;
	padding: 5px 0;
}

.tweetDate {
	color: blue;
	font-size: 12px;
}